<button class="btn"{{action "toggleModal"}}>See Favorite Games</button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    {{#each favCart.games as |game|}}
    <div class="row summary">
      <div class="col-sm-6">
        <img src='{{game.image}}' alt="image of game">
      </div>
      <div class="col-sm-6">
        <h2>{{game.gameName}} <span class="small">({{number-reviews game}} reviews, average rating = {{game-rating game.avgRatings}})</span></h2>
        <p>Entered by {{game.user}} {{moment-from-now game.timestamp}}</p>
        <h4>{{game.summary}}</h4>
      </div>
    </div>
    {{/each}}
  {{/modal-dialog}}
{{/if}}
