<div class="row">
  <div class="col-sm-7" id="game">
    <h2>{{gameHeading}}</h2>
    <p>Entered by {{game.user}} {{moment-from-now game.timestamp}}</p>
    <img src='{{game.image}}' alt="image of game">
    <h4>{{game.details}}</h4>
  </div>
  <div class="col-sm-4" id="reviews">
    <h2><u>Reviews:</u> {{'new-review' game=game addReview="addReview"}}</h2>
    {{#if game.reviews}}
      <p>
        {{'review-tile' game=game}}
      </p>
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    {{update-game game=game updateGame="updateGame"}}
  </div>
  <div class="col-sm-3">
    <button {{action 'destroyGame' game}} class="btn btn-danger">Delete game</button>
  </div>
</div>
