{{#each game as |game|}}
  {{#link-to 'game' game.id}}
    <div class="row">
      <div class="col-sm-6">
        <img src='{{game.image}}' alt="image of game">
      </div>
      <div class="col-sm-6">
        <h2>{{game.gameName}}</h2>
        <p>Entered by {{game.user}} on {{moment-from-now game.timestamp}}</p>
        <h4>{{game.summary}}</h4>
      </div>
    </div>
  {{/link-to}}
{{/each}}
