{{#each game as |game|}}

    <div class="row summary">
      {{#link-to 'game' game.id}}
        <div class="col-sm-6">
          <img src='{{game.image}}' alt="image of game">
        </div>
        <div class="col-sm-6">
          <h2>{{game.gameName}} <span class="rev_rating">({{number-reviews game}} reviews, average rating = {{game-rating game.avgRatings}})</span></h2>
          <p>Entered by {{game.user}} {{moment-from-now game.timestamp}}</p>
          <h4>{{game.summary}}</h4>
        </div>
      {{/link-to}}
    </div>
{{/each}}
