{{#each game.reviews as |review|}}
  <h4>posted by: {{review.user}} {{moment-from-now review.timestamp}}</h4>
  <p>
    {{logmodel}}
    {{review.rating}} thumbs up! <br>
    {{review.comments}}
  </p>
  <div class="row">
    <div class="col-sm-5">
      {{'update-review' review=review updateReview="updateReview"}}
    </div>
    <div class="col-sm-5">
      <button {{action 'destroyReview' review}} class="btn btn-danger btn-xs">Delete review</button>
    </div>
  </div>

{{/each}}
