{{#each game.reviews as |review|}}
  <h4>posted by: {{review.user}} {{moment-from-now review.timestamp}}</h4>
  <p>
    {{logmodel}}
    {{review.rating}} thumbs up! <br>
    {{review.comments}}
  </p>
{{/each}}
